<a href="https://colab.research.google.com/github/chawlaKat/Notebook-Noodlings/blob/master/Pandas_and_corgis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is concerned with learning the Pandas library. Also, this is where I discovered corgi mode (Tools -> Preferences -> Corgi Mode), so there's a corgi-inspired data set a little later on.


Uses files:


*  california_housing_test.csv (colab sample file)
*  anscombe.json (colab sample file)
*  corgi_test_data.csv

Follows tutorial: https://learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

In [0]:
#pip install pandas
#got em (works out of the box)

In [0]:
import pandas as pd

<p><b>Core components: </b><br>
Series = ordered list with single header (one column) <br>
DataFrame = multi-dimensional table made of Series</p>
<p>Lots of ways to make a DataFrame! <br>Simple way is a <i>dict</i></p>

<p>Note: a group of pandas is called an "embarassment", apparently. Awww.</p>
Data from: <a href="https://minecraft.gamepedia.com/Panda">https://minecraft.gamepedia.com/Panda</a>

In [0]:
minecraftPandaTypes = {
    'behavior' : ["lay on back","hide face during thunder","roll and jump",
                  "attack when hit", "follow player holding bamboo"],
    'speed' : ["slow","normal","normal","normal with long reach","normal"], 
    'expression' : ["smiling","'puppy' eyes", "tongue out", "angry eyebrows", 
                    "frowning"]  
}

embarassment = pd.DataFrame(minecraftPandaTypes) 

embarassment

                       behavior                   speed      expression
0                   lay on back                    slow         smiling
1      hide face during thunder                  normal    'puppy' eyes
2                 roll and jump                  normal      tongue out
3               attack when hit  normal with long reach  angry eyebrows
4  follow player holding bamboo                  normal        frowning

In each <i>(key, value)</i> pair, the <i>key</i> is the header, and the <i>value</i> vector contains the numbers. The value vectors must all be the same length!

In [0]:
embarassment = pd.DataFrame(minecraftPandaTypes, index=['Lazy', 'Worried', 
                                                        'Playful', 'Aggressive',
                                                       'Normal'])

embarassment

                                behavior  ...      expression
Lazy                         lay on back  ...         smiling
Worried         hide face during thunder  ...    'puppy' eyes
Playful                    roll and jump  ...      tongue out
Aggressive               attack when hit  ...  angry eyebrows
Normal      follow player holding bamboo  ...        frowning

[5 rows x 3 columns]

In [0]:
embarassment.loc['Playful']

behavior      roll and jump
speed                normal
expression       tongue out
Name: Playful, dtype: object

In [0]:
embarassment.loc['Aggressive']['expression']

'angry eyebrows'

<br>

<h3>But wait, there's more!</h3>

<body>
  Import from csv using read_csv() 
  
  </body>
  
  <br>

In [0]:
housing_dataframe = pd.read_csv('sample_data/california_housing_test.csv') 

housing_dataframe

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
5       -119.56     36.51  ...         1.6635             67000.0
6       -121.43     38.63  ...         1.6641             67000.0
7       -120.65     35.48  ...         3.2250            166900.0
8       -122.84     38.40  ...         3.6696            194400.0
9       -118.02     34.08  ...         2.3333            164200.0
10      -118.24     33.98  ...         2.2054            125000.0
11      -119.12     35.85  ...         2.4167             58300.0
12      -121.93     37.25  ...         4.6900            252600.0
13      -117.03     32.97  ...         4.5625            231200.0
14      -117.97     33.73  ...         5.7121            222500.0
15      -117.99     33.81  ...         2.2000            153100.0
16      -120.81     37.53  ...         1.8750            181300.0
17      -121.20     38.69  ...         2.7174            137500.0
18      -118.88     34.21  ...         6.5851            300000.0
19      -122.59     38.01  ...         6.1724            414300.0
20      -122.15     37.75  ...         3.8913            126300.0
21      -121.37     38.68  ...         3.1786             83400.0
22      -118.16     34.07  ...         3.8644            241500.0
23      -122.20     37.79  ...         2.7788            115400.0
24      -117.28     33.28  ...         3.8156            150700.0
25      -118.03     34.16  ...         7.1615            484700.0
26      -122.42     37.76  ...         2.5403            250000.0
27      -118.39     33.99  ...         6.6030            369200.0
28      -118.45     34.07  ...         1.5830            350000.0
29      -118.48     34.01  ...         3.4852            425000.0
...         ...       ...  ...            ...                 ...
2970    -122.47     37.77  ...         4.1635            398400.0
2971    -120.93     35.76  ...         3.2300            154300.0
2972    -118.14     34.17  ...         4.0524            173100.0
2973    -122.73     38.46  ...         2.0651            135400.0
2974    -117.06     32.76  ...         2.9650            155700.0
2975    -120.71     35.50  ...         5.2508            292900.0
2976    -118.31     34.05  ...         2.5313            305800.0
2977    -119.70     36.75  ...         2.4956             87500.0
2978    -121.34     38.64  ...         3.7562            139700.0
2979    -117.91     34.09  ...         3.0441            185400.0
2980    -119.76     36.79  ...         3.3281             75100.0
2981    -120.66     35.49  ...         2.8285            171300.0
2982    -118.28     34.08  ...         3.1607            182000.0
2983    -122.54     37.90  ...         4.4375            370000.0
2984    -117.59     33.88  ...         2.6111            107000.0
2985    -120.47     34.94  ...         1.8633            109400.0
2986    -118.25     33.93  ...         1.1346             85400.0
2987    -121.97     37.29  ...         5.3294            300300.0
2988    -122.01     36.97  ...         2.5417            260900.0
2989    -122.02     37.60  ...         3.2386            149600.0
2990    -118.23     34.09  ...         2.6923            150000.0
2991    -117.17     34.28  ...         7.1997            253800.0
2992    -122.33     37.39  ...         6.2263            500001.0
2993    -117.91     33.60  ...         5.1048            500001.0
2994    -117.93     33.86  ...         5.5867            182500.0
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

We can tell it which column is the index

In [0]:
corgi_data_noIndex = pd.read_csv('corgi_test_data.csv')

corgi_data_noIndex

                Unnamed: 0                     Source Is this Real or Not Real?
0                    Holly           Queen of England                      Real
1                    Ralph                  Instagram                      Real
2  Molly ("Thing of Evil")               Stephen King                      Real
3                      Ein               Cowboy Bebop                      Real
4                     Loki                  Instagram                      Real
5                    Rufus                 Amazon.com                      Real
6             Sutter Brown  Jerry Brown (gov of Cali)                      Real

In [0]:
corgi_data_index = pd.read_csv('corgi_test_data.csv', index_col = 0)  

corgi_data_index

                                            Source Is this Real or Not Real?
Holly                             Queen of England                      Real
Ralph                                    Instagram                      Real
Molly ("Thing of Evil")               Stephen King                      Real
Ein                                   Cowboy Bebop                      Real
Loki                                     Instagram                      Real
Rufus                                   Amazon.com                      Real
Sutter Brown             Jerry Brown (gov of Cali)                      Real

Alternately, we can read from a json file (essentially a dictionary file storage format). Json knows how to nest things so we get the right index aautomagically.

In [0]:
anscombe_data = pd.read_json('sample_data/anscombe.json')

anscombe_data

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

And then, we can save as a csv or a json file (or sql but I'm not getting into that one just yet haha).

In [0]:
corgi_data_index.to_csv('saved_corgi_data.csv')
imported_corgi_csv = pd.read_csv('saved_corgi_data.csv')

imported_corgi_csv

                Unnamed: 0                     Source Is this Real or Not Real?
0                    Holly           Queen of England                      Real
1                    Ralph                  Instagram                      Real
2  Molly ("Thing of Evil")               Stephen King                      Real
3                      Ein               Cowboy Bebop                      Real
4                     Loki                  Instagram                      Real
5                    Rufus                 Amazon.com                      Real
6             Sutter Brown  Jerry Brown (gov of Cali)                      Real

In [0]:
corgi_data_index.to_json('saved_corgi_data.json')
imported_corgi_json = pd.read_json('saved_corgi_data.json')

imported_corgi_json

                                            Source Is this Real or Not Real?
Ein                                   Cowboy Bebop                      Real
Holly                             Queen of England                      Real
Loki                                     Instagram                      Real
Molly ("Thing of Evil")               Stephen King                      Real
Ralph                                    Instagram                      Real
Rufus                                   Amazon.com                      Real
Sutter Brown             Jerry Brown (gov of Cali)                      Real

<h3>Extra skills</h3>

Specifying a column header

This example shows taking any row and making it the header; I just wanted to be able to specify the header directly

From: https://stackoverflow.com/questions/26147180/convert-row-to-column-header-for-pandas-dataframe

In [0]:
df = pd.DataFrame([(1,2,3), ('foo','bar','baz'), (4,5,6)])

df

     0    1    2
0    1    2    3
1  foo  bar  baz
2    4    5    6

In [0]:
df.columns = df.iloc[1]

df

1  foo  bar  baz
0    1    2    3
1  foo  bar  baz
2    4    5    6

In [0]:
df.reindex(df.index.drop(1))

1 foo bar baz
0   1   2   3
2   4   5   6

Okay now let's try it

In [3]:
quadrants = [("matespriteship", "moirallegiance"), 
             ("kissmessisitude", "auspisticism")]
quad_col = ("concupiscent", "conciliatory")
quad_ind = ("red", "black")

quad_frame = pd.DataFrame(quadrants)
quad_frame.columns = quad_col
quad_frame.index = quad_ind

quad_frame

          concupiscent    conciliatory
red     matespriteship  moirallegiance
black  kissmessisitude    auspisticism

<h4>Accessing + selecting data from dataframe</h4>

In [6]:
corgiFrame = pd.read_csv('corgi_test_data.csv')

corgiFrame

                Unnamed: 0                     Source Is this Real or Not Real?
0                    Holly           Queen of England                      Real
1                    Ralph                  Instagram                      Real
2  Molly ("Thing of Evil")               Stephen King                      Real
3                      Ein               Cowboy Bebop                  Not Real
4                     Loki                  Instagram                      Real
5                    Rufus                 Amazon.com                      Real
6             Sutter Brown  Jerry Brown (gov of Cali)                      Real

In [7]:
corgiFrame.loc[0]

Unnamed: 0                              Holly
Source                       Queen of England
Is this Real or Not Real?                Real
Name: 0, dtype: object

In [9]:
corgiFrame.iloc[0]

Unnamed: 0                              Holly
Source                       Queen of England
Is this Real or Not Real?                Real
Name: 0, dtype: object

In [10]:
corgiFrame.loc[1]

Unnamed: 0                       Ralph
Source                       Instagram
Is this Real or Not Real?         Real
Name: 1, dtype: object

In [11]:
corgiFrame.iloc[1]

Unnamed: 0                       Ralph
Source                       Instagram
Is this Real or Not Real?         Real
Name: 1, dtype: object

In [12]:
corgiFrame.loc[:4]

                Unnamed: 0            Source Is this Real or Not Real?
0                    Holly  Queen of England                      Real
1                    Ralph         Instagram                      Real
2  Molly ("Thing of Evil")      Stephen King                      Real
3                      Ein      Cowboy Bebop                  Not Real
4                     Loki         Instagram                      Real

In [13]:
corgiFrame.iloc[:4]

                Unnamed: 0            Source Is this Real or Not Real?
0                    Holly  Queen of England                      Real
1                    Ralph         Instagram                      Real
2  Molly ("Thing of Evil")      Stephen King                      Real
3                      Ein      Cowboy Bebop                  Not Real

(why in the world would the inclusivity of the slice be different between .loc and .iloc?)

In [15]:
corgiIndexed = pd.read_csv('corgi_test_data.csv', index_col=0)

corgiIndexed

                                            Source Is this Real or Not Real?
Holly                             Queen of England                      Real
Ralph                                    Instagram                      Real
Molly ("Thing of Evil")               Stephen King                      Real
Ein                                   Cowboy Bebop                  Not Real
Loki                                     Instagram                      Real
Rufus                                   Amazon.com                      Real
Sutter Brown             Jerry Brown (gov of Cali)                      Real

In [17]:
corgiIndexed.loc['Ralph']

Source                       Instagram
Is this Real or Not Real?         Real
Name: Ralph, dtype: object

In [18]:
corgiIndexed.iloc[1]

Source                       Instagram
Is this Real or Not Real?         Real
Name: Ralph, dtype: object

In [20]:
corgiIndexed.loc[:'Loki']

                                   Source Is this Real or Not Real?
Holly                    Queen of England                      Real
Ralph                           Instagram                      Real
Molly ("Thing of Evil")      Stephen King                      Real
Ein                          Cowboy Bebop                  Not Real
Loki                            Instagram                      Real

In [21]:
corgiIndexed.iloc[:4]

                                   Source Is this Real or Not Real?
Holly                    Queen of England                      Real
Ralph                           Instagram                      Real
Molly ("Thing of Evil")      Stephen King                      Real
Ein                          Cowboy Bebop                  Not Real

In [22]:
corgiIndexed.loc['Loki']

Source                       Instagram
Is this Real or Not Real?         Real
Name: Loki, dtype: object

In [28]:
corgiIndexed.index.get_loc('Loki')

4

In [30]:
corgiIndexed.loc[corgiIndexed['Is this Real or Not Real?'] == 'Real']

                                            Source Is this Real or Not Real?
Holly                             Queen of England                      Real
Ralph                                    Instagram                      Real
Molly ("Thing of Evil")               Stephen King                      Real
Loki                                     Instagram                      Real
Rufus                                   Amazon.com                      Real
Sutter Brown             Jerry Brown (gov of Cali)                      Real

In [31]:
where_clause = corgiIndexed['Is this Real or Not Real?'] == 'Not Real'

corgiIndexed.loc[where_clause]

           Source Is this Real or Not Real?
Ein  Cowboy Bebop                  Not Real

In [33]:
def toFilter(frame, column, is_equal_to):
  data_to_filter = frame[column]
  clause = data_to_filter == is_equal_to
  return (clause);

where_instagram = toFilter(corgiIndexed, 'Source', 'Instagram')


corgiIndexed.loc[where_instagram]

          Source Is this Real or Not Real?
Ralph  Instagram                      Real
Loki   Instagram                      Real