<a href="https://colab.research.google.com/github/chawlaKat/Notebook-Noodlings/blob/master/Scatter_in_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install liac-arff

Collecting liac-arff
  Downloading https://files.pythonhosted.org/packages/e9/35/fbc9217cfa91d98888b43e1a19c03a50d716108c58494c558c65e308f372/liac-arff-2.4.0.tar.gz
Building wheels for collected packages: liac-arff
  Building wheel for liac-arff (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/d1/6a/e7/529dc54d76ecede4346164a09ae3168df358945612710f5203
Successfully built liac-arff
Installing collected packages: liac-arff
Successfully installed liac-arff-2.4.0

In [0]:
import bark_to_byte as bb
import scatterable as sc
import altair as alt

In [0]:
alg_source = bb.arff_to_dataframe('algorithm_runs.arff')

In [11]:
alg_rekeyed = alg_source.set_index('instance_id')
alg_joined = alg_rekeyed.join(alg_rekeyed, lsuffix='_x', rsuffix='_y')
alg_joined.reset_index(inplace = True)
alg_joined.head()

                               instance_id  ...  runstatus_y
0  a280_n1395_bounded-strongly-corr_01.ttp  ...           ok
1  a280_n1395_bounded-strongly-corr_01.ttp  ...           ok
2  a280_n1395_bounded-strongly-corr_01.ttp  ...           ok
3  a280_n1395_bounded-strongly-corr_01.ttp  ...           ok
4  a280_n1395_bounded-strongly-corr_01.ttp  ...           ok

[5 rows x 9 columns]

In [0]:
graph = sc.create_comparative_scatter(alg_joined, 'instance_id', 
                                      'algorithm_x', 'algorithm_y', 
                                      'solution_quality_x', 'solution_quality_y',
                                      'runstatus_x', 'runstatus_y',
                                      ['#ffe200', '#f5ffff', '#6600db', '#11182b'])

In [0]:
alt.data_transformers.disable_max_rows()
graph